<h1>Hello, world!</h1>
<p>Welcome to Tracker Hero, a project workflow application that will improve your projects productivity!</p>
<p><%= link_to "Sign Up Now!", new_user_registration_path, :class => "btn primary large" %>
<%= link_to "Learn More", about_path, :class => "btn large" %></p>

